* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 9rem;
}

.main-logo {
    display: flex;
}

.main-logo img {
    height: 2rem;
    margin-right: 1rem;
}

.main-logo h3 {
    font-size: 2rem;
}

.main-logo h3 span {
    color: rgb(242, 101, 125);
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar ul li {
    list-style: none;
    margin-right: 1rem;
    text-align: center;
    padding: 1rem;
}

.apple {
    border-radius: 50px;
    background-color: rgba(11, 2, 35, 0.10);
}

.navbar ul .fa-youtube {
    color: #F61C0D;
    margin-left: .5rem;
}

.navbar ul .fa-linkedin {
    margin-left: .5rem;
    color: rgb(5, 190, 252);
    font-size: 1.2rem;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('images/Group-14.png');
    background-size: 700px;
    background-repeat: no-repeat;
    padding: 0 80px;
}

.header-text h2 {
    font-size: 2rem;
}

.header-text h1 {
    font-size: 4rem;
    margin: 1rem 0 2rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;

}

.header-text h3 {
    font-size: 1rem;
    line-height: 2rem;
    color: #534C64;
}

.header-text h3 i {
    margin-right: .5rem;
    color: #F948B2;
}

.header-btn {
    margin-top: 2rem;
}

.header-btn .header-btn-1{
    padding: 1rem 2rem;
    border-radius: 3rem;
    background-color: #F948B2;
    margin-right: 1rem;
    border: none;
}

.header-btn .header-btn-2{
    padding: 1rem 2rem;
    border-radius: 3rem;
    background-color: #4EC5F7;
    border: none;
}

.header-image img {
    max-height: 30rem;
}

/*----- Online Games -----*/

.online-games {
    padding: 5rem 0;
}

.online-games-content {
    text-align: center;
}

.online-games-title {
    font-size: 3rem;
    font-weight: 700;
}

.online-games-title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-games-description {
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: .5rem;
}

.games-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-pic {
    margin-left: 1rem;
    margin-top: 3rem;
    position: relative;
}

.game-pic img {
    width: 250px;
    height: 300px;
    border-radius: 16px;
    border: 2px solid #FF42A5;
}

.game-pic p {
    width: 200px;
    padding-top: 1rem;
}

.layer a i {
    font-size: 40px;
    color: white;
}

.layer p {
    text-align: center;
}

.layer {
    width: 100%;
    position: absolute;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: height 0.5s;
    color: white;
    font-size: 1.2rem;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
}

.game-pic:hover .layer {
    height: 83%;
}

.work:hover .layer {
    height: 100%;
}

/*----- Play Instantly -----*/

.play-instantly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 8rem;
}

.play-instantly-content {
    text-align: right;
}

.play-instantly-title {
    font-size: 3rem;
    font-weight: 700;
}

.play-instantly-title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-instantly-description {
    color: #534C64;
    font-weight: 400;
    line-height: 1.5rem;
    margin-top: 1.5rem;
}

.play-instantly-image-bg {
    border-radius: .5rem;
    height: 450px;
}

.play-instantly-image-upper img {
    height: 250px;
    position: absolute;
    border-radius: .5rem;
}

.play-instantly-image-upper {
    position: relative;
    bottom: 180px;
    right: 110px;
}

.game-catagory{
    max-width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.game-catagory div {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    margin-right: .5rem;
    padding: .5rem;
    border: 1px solid white;
}

.game-catagory div h3 {
    color: #0B0223;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: normal;    
}

.game-catagory div:hover h3 {
    color: #F948B2;
}

.game-catagory div:hover {
    border: 1px solid #F948B2;
    border-radius: 50px;
    cursor: pointer;
}

.game-catagory div img {
    height: 40px;
    margin-right: .5rem;
}

footer {
    text-align: center;
    background-color: #0B0223;
    color: white;
}

.footer-content {
    max-width: 600px;
    margin: 0 auto;
    padding: 4rem 0;
}

.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.footer-icon img {
    height: 40px;
    margin-right: 1rem;
}

.footer-icon h3 {
    font-size: 40px;
}

.footer-icon span {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer ul li {
    list-style: none;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

footer ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

.footer-btn a i {
    font-size: 40px;
    color: white;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.footer-condition {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-condition p {
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
    margin: 0 2rem 1rem 0;
}

footer p small {
    color: rgba(255, 255, 255, 0.60);
}



/*----- Responsive Layout for mobile -----*/

@media screen and (max-width: 425px) {

    /*----- Navbar -----*/
    .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
    }

    .navbar ul {
        flex-direction: column;
        justify-content: center;
    }

    .navbar ul li {
        margin: 0;
    }

    /*----- header content -----*/

    .header-content {
        flex-direction: column;
    }

    .header-image img {
        height: 20rem;
    }

    /*----- Online games -----*/

    .games-images {
        flex-direction: column;
    }

    .online-games-title {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .online-games-description {
        font-size: .7rem;
    }

    /*----- Play Instantly -----*/

    .play-instantly {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .play-instantly-content {
        text-align: center;
    }

    .play-instantly-title {
        font-size: 1.5rem;
    }

    .play-instantly-description {
        font-size: .7rem;
    }

    .play-instantly-image-bg {
        height: 250px;
    }

    .play-instantly-image-upper img {
        height: 150px;
    }

    .play-instantly-image-upper {
        bottom: 110px;
        right: 70px;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {

}

